<a href="https://colab.research.google.com/github/NeginHashemi-lab/Negin_Lab/blob/main/Level_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Level Test**


# Q1 :
calaulate the mod of three digit prime number(choose on your own) to 2 and proof that it is True

In [ ]:
prime_number = 7
result = prime_number % 2
print(result == 1)

True

# Q2:
code to get two string first print the type of input and then put them together(give it your name and last name)

In [ ]:
first_name = "Negin"
last_name = "Hashemi"
print(type(first_name), type(last_name))
full_name = first_name + " " + last_name
print(full_name)

<class 'str'> <class 'str'>
Negin Hashemi

# Q3:
create a list with 5 member and change the the three one to Iran

In [ ]:
my_list = ["Negin", "Fatemeh", "Leyla", "Akram", "Zahra"]
my_list[2] = "Iran"
print(my_list)

['Negin', 'Fatemeh', 'Iran', 'Akram', 'Zahra']

# Q4:
create a dictionary with 5 member assign a b c d e to 1 to 5 and print Dictionary items

In [ ]:
negin_dictionary = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}
print(negin_dictionary.items())

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

# Q5:
Open an existing file in your computer and print last line(you can make a txt file then do it)

In [ ]:
file_path = "C:/Users/Negin/Desktop/torkamanestan_line.txt"
with open(file_path, "r") as file:
    lines = file.readlines()
    print(lines[-1])

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Negin/Desktop/torkamanestan_line.txt'

# Q6:
Check 255 is greater than 188 and 255 is smaller than 189 in one line

In [ ]:
print("True" if 255 > 188 and 255 < 189 else "False")

False

# Q7:
assign a your name to variable name person check it among your friends name if its true print 'HOORA'

In [ ]:
person = "Negin"
friends = ["Fatemeh", "Akram", "Negin", "Leyla"]
if person in friends:
    print("HOORA")

HOORA

# Q8:
create a list 1 to 10 then check for even numbers then print all using for loops

In [6]:
numbers = list(range(1, 11))
for num in numbers:
    if num % 2 == 0:
      print(str(num) + " is even")
    else:
      print(num)

1
2 is even
3
4 is even
5
6 is even
7
8 is even
9
10 is even

# Q9:
consider x is 12 while x is between 10 to 15 print good else continue

In [15]:
x = 12
while 10<= x <=15:
  print("good")
  x+=1
else:
  pass

good
good
good
good

# Q10:
make a list from 0 to 10000 with step of 100 using "range" shuffle this list and pick index 10

In [ ]:
import random
my_list = list(range(0, 10001, 100))
random.shuffle(my_list)
print(my_list[10])

7800

# Q11:
Consider list of 1 to 5 append 6 in it and count even number in it using a function

In [ ]:
def count_even(lst):
    return sum(1 for x in lst if x % 2 == 0)

numbers = list(range(1, 6))
numbers.append(6)
print(numbers)
print("Even numbers count:", count_even(numbers))

[1, 2, 3, 4, 5, 6]
Even numbers count: 3

# Q12:
write a function that get string and uppercase the first letter if it's capital print it's True

In [ ]:
def capitalize_word(word):
    capitalized = word.capitalize()
    if word[0] == capitalized[0]:
        print("True")
    else:
        print(capitalized)

# Test cases
capitalize_word("negin")
capitalize_word("Negin")

Negin
True